*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
     /* border: 1px solid red; */

}

.container{
    background: linear-gradient(to left ,#bdc3c7 , #ef629f);
    height: 100vh;
    position: relative;
    z-index: 1;
}
nav{
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: white;
}
.logo{

}

.logo img{
    width: 100px;
    margin-left: 25px;
    padding: 10px;
    
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 100px;
    
}

nav ul li{
    padding: 5px;
  
}

nav ul li a {
    text-decoration: none;
    font-size: 22px;
    color:black;
    transition: 0.2s;
}
nav ul li a:hover{
    color:#ef629f;
}
.info{
    
    transform: translateY(-25%);
    position: absolute;
    top: 50%;
    left: 25%;
    color: #f0f0f0;
}
.info h1{
    text-transform:uppercase;
    margin-bottom: 5px;
}
.info p{
    font-size: 18px;
}

.search{
    position: absolute;
    top: 40%;
    right: 5%;
    animation-name: mymove;
    animation-duration: 1s;
}

.search form {
    display: flex;
    flex-direction: column;
    
}

.search form h1{
    padding-bottom: 20px;
    color: #f9f9f9;
}

.search form  input{
    height: 20px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    
}

@keyframes mymove {
    from {opacity: 0;}
    to {opacity: 100%;}
  }

.results{
    background: white;
    position: relative;
    bottom: 0;
    width: 100%;
    height: calc(100vh - 8rem);
    transform: translateX(-100%);
    transition: 1s;
}
.loading{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    
}
.loading img{
    width: 200px;

}
.btn-results{
    padding:5px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
    outline: none;
}
.btn-results:hover{
    cursor: pointer;

}
.results-container{
    width: 100%;
    
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    transform: translateY(15%);
}

.results_col{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding-left: 20px;
    margin-left: 20px;
    flex-direction: column;
    width: 700px;
    height: 500px;
    border:1px solid transparent;
    border-radius: 5px;
    background: rgb(231, 207, 176);
    color: white;
}
.results_col h1 {
    font-size: px;
}